@model System.Web.Mvc.HandleErrorInfo


<h1 class="text-danger">Oops! </h1>
    

<h2 class="text-danger">An error occurred while processing your request.</h2>
<div class="text-danger"> I know this doesnt mean much to you, but if you see the Tech Help guy tell him:</div>

@Model.Exception.Message


@Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
