@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Prism Prototype Company Management System</h1>
    <p> Welcome to the Prism prototype! Prism is a company management system being developed for ElderSource Institute. Please log in to begin.</p>
    
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
<div class="row">
    <div class="col-md-4">
        
        <p>
            

        </p>
        
    </div>

    <div class="col-md-4" align="center">
        <h2>Prism Company Search</h2>
        <p>Start searching the company database using our fast and simple company search system!</p>
        <p>  <a class="btn btn-default" href="@Url.Action("Index", "Search")">Start Searching! &raquo;</a></p>
    </div>
    <div class="col-md-4">
      


    </div>
    
</div>
}